<!DOCTYPE html>
<html>
<head>
    {{template "template/css.html"}}
<style>
    .order-details {
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
        font-family: 'Arial', sans-serif;
    }
    .order-details table {
        width: 100%;
        border-collapse: collapse;
    }
    .order-details th, .order-details td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #eee;
    }
    .order-details th {
        color: #333;
        font-weight: bold;
    }
    .order-details td {
        color: #555;
    }
    .order-not-found {
        color: #d9534f;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
    #merchantOrderId {
        max-width: 300px; /* 调整搜索框的长度 */
        display: inline-block; /* 使搜索框适应指定的宽度 */
    }
    .search-container {
        margin-bottom: 20px;
    }    
</style>


</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    {{template "template/header.html"}}
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <a href="/index/ui/">
                        <div class="avatar">
                            <img src="../../static/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle">
                        </div>
                    </a>
                    <a href="#">
                        <div class="title">
                            <h1 class="h4">{{.userName}}</h1>
                            <p>欢迎您！</p>
                        </div>
                    </a>
                </div>
                <!-- Sidebar Navidation Menus-->
                <span class="heading">主菜单</span>
                <ul class="list-unstyled">
                    <li>
                        <a href="/index/ui/">
                            <i class="icon-home"></i>
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
                            <i class="icon icon-user"></i>
                            账户管理
                        </a>
                        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                            <li>
                                <a href="/user_info/show_modify_ui">修改密码</a>
                            </li>
                            <li>
                                <a href="/user_info/show_ui">账户资料</a>
                            </li>
                            <!--<li>-->
                            <!--    <a href="/index/show_pay_way_ui">通道配置</a>-->
                            <!--</li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="#exampledropdownDropdown1" aria-expanded="true" data-toggle="collapse">
                            <i class="icon icon-presentation"></i>
                            订单管理
                        </a>
                        <ul id="exampledropdownDropdown1" class=" list-unstyled ">
                            <li class="active">
                                <a href="/query_order/ui">查询订单</a>
                            </li>
                            <li>
                                <a href="/trade/show_ui">订单记录</a>
                            </li>
                            <!--<li>-->
                            <!--    <a href="/trade/show_complaint_ui">投诉列表</a>-->
                            <!--</li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse">
                            <i class="icon icon-bill"></i>
                            财务管理
                        </a>
                        <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                            <li>
                                <a href="/withdraw/show_ui">申请提现</a>
                            </li>
                            <!--<li>-->
                            <!--    <a href="/multi_withdraw/show_multi_ui">批量申请提现</a>-->
                            <!--</li>-->
                            <li>
                                <a href="/withdraw/show_list_ui">提现记录</a>
                            </li>
                            <!--{{/*-->
                            <!--<li>-->
                            <!--    <a href="/recharge/show_recharge_list_ui">自定义记录</a>-->
                            <!--</li>-->
                            <!--*/}}-->
                            <!--<li>-->
                            <!--    <a href="/history/show_history_list_ui">资产变动明细</a>-->
                            <!--</li>-->
                        </ul>
                    </li>
                </ul>
            </nav>
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">查询订单 - 请输入商户订单号，点击搜索查询</h2>
                </div>
            </header>
            <!-- Forms Section-->
            <section class="forms">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                            <div class="card-header d-flex align-items-center search-container">
                                <input type="text" id="merchantOrderId" placeholder="商户订单号" class="form-control mr-3" onkeypress="handleKeyPress(event)">
                                <button onclick="searchOrder()" class="btn btn-primary">搜索</button>
                            </div>
                                <div class="card-body">
                                    <div id="orderResult"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- JavaScript files-->
{{template "template/js.html"}}
<script>
function searchOrder() {
    var merchantOrderId = document.getElementById('merchantOrderId').value;
    if (!merchantOrderId) {
        alert('请输入商户订单号');
        return;
    }

    var apiUrl = '/query_order/search?merchantOrderId=' + merchantOrderId;

    fetch(apiUrl)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        displayOrderData(data);
    })
    .catch(error => {
        console.error('Error:', error);
        document.getElementById('orderResult').innerHTML = '<p class="order-not-found">未找到订单</p>';
    });
}


function displayOrderData(orderData) {
    // 检查是否存在订单号
    if (!orderData.ref_trade_id) {
        document.getElementById('orderResult').innerHTML = '<p class="order-not-found">未找到订单</p>';
        return;
    }

    // 检查 customer 字段是否存在并且包含所需的属性
    var customerName = '未知';
    if (orderData.customer && 'first_name' in orderData.customer && 'last_name' in orderData.customer) {
        customerName = orderData.customer.first_name + ' ' + orderData.customer.last_name;
    }

    // 构建订单详情的 HTML 结构
    var orderDetails = `
        <div class="order-details">
            <table>
                <tr><th>订单号 (Order ID):</th><td>${orderData.ref_trade_id}</td></tr>
                <tr><th>金额 (Amount):</th><td>${orderData.amount} ${orderData.currency}</td></tr>
                <tr><th>手续费 (Fee):</th><td>${orderData.fee_amount}</td></tr>
                <tr><th>状态 (Status):</th><td>${orderData.status}</td></tr>
                <tr><th>客户姓名 (Customer Name):</th><td>${customerName}</td></tr>
                <tr><th>交易时间 (Transaction Time):</th><td>${new Date(parseInt(orderData.trans_at)).toLocaleString()}</td></tr>
                <tr><th>描述 (Description):</th><td>${orderData.description}</td></tr>
            </table>
        </div>
    `;

    // 将构建的 HTML 显示在页面上
    document.getElementById('orderResult').innerHTML = orderDetails;
}

function handleKeyPress(event) {
    if (event.keyCode === 13) { // 13 是回车键的键码
        searchOrder();
    }
}

</script>
</body>
</html>